<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<body layout:fragment="content">
	<div class="row" <!--style="padding-top: 107px;"-->>
		<div class="col-4 mt-5" style="width:200px; margin-left: 50px; position: fixed">
			<nav id="today-prob" class="h-100 flex-column align-items-stretch pe-4 border-end">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link" href="#network">네트워크</a>
					<a class="nav-link" href="#java-1">자바</a>
					<nav class="nav nav-pills flex-column">
						<a class="nav-link ms-3 my-1" href="#java-1">기초</a>
						<a class="nav-link ms-3 my-1" href="#java-2">심화</a>
					</nav>
					<a class="nav-link" href="#git">GIT</a>
				</nav>
			</nav>
		</div>

		<div class="col-8" style="margin-left: 300px;">
			<div data-bs-spy="scroll" data-bs-target="#today-prob" data-bs-smooth-scroll="true" tabindex="0">
				<div class="container px-4 py-5 my-3" id="network">
					<h2 class="pb-2 border-bottom">오늘의 문제 - 네트워크</h2>
					<div class="row align-items-center" style="height: 500px;">
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5">
									<h5>no.111<button class="btn" style="float:right;">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-3" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1">정답정답정답정답정답정답정답정답정답</li>
									</ul>
								</div>
								<div class="pt-2 px-2">
									글자수 : 7
								</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5">
									<h5>no.111<button class="btn" style="float:right;">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-3" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1">정답정답정답정답정답정답정답정답정답</li>
									</ul>
								</div>
								<div class="pt-2 px-2">
									글자수 : 7
								</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5">
									<h5>no.111<button class="btn" style="float:right;">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-3" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1">정답정답정답정답정답정답정답정답정답</li>
									</ul>
								</div>
								<div class="pt-2 px-2">
									글자수 : 7
								</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container px-4 py-5 my-3" id="java-1">
					<h2 class="pb-2 border-bottom">오늘의 문제 - 자바(기초)</h2>
					<div class="row align-items-center" style="height: 500px;">
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<!--p : padding , m : margin , px : 왼쪽 오른쪽, py : 위 아래, 
					t : 위, b : 아래, l : 왼쪽, r : 오른쪽-->
								<div class="p-1">no.111</div>
								<div class="p-1 mb-2">카테고리 : 네트워크</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="pt-2 px-2">글자수 : 7</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1">no.111</div>
								<div class="p-1 mb-2">카테고리 : 네트워크</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="pt-2 px-2">글자수 : 7</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1">no.111</div>
								<div class="p-1 mb-2">카테고리 : 네트워크</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="pt-2 px-2">글자수 : 7</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container px-4 py-5 my-3" id="java-2">
					<h2 class="pb-2 border-bottom">오늘의 문제 - 자바(심화)</h2>
					<div class="row align-items-center" style="height: 500px;">
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<!--p : padding , m : margin , px : 왼쪽 오른쪽, py : 위 아래, 
					t : 위, b : 아래, l : 왼쪽, r : 오른쪽-->
								<div class="p-1">no.111</div>
								<div class="p-1 mb-2">카테고리 : 네트워크</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="pt-2 px-2">글자수 : 7</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1">no.111</div>
								<div class="p-1 mb-2">카테고리 : 네트워크</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="pt-2 px-2">글자수 : 7</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
						<div class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1">no.111</div>
								<div class="p-1 mb-2">카테고리 : 네트워크</div>
								<div class="px-1 mb-5" style="overflow:scroll; width:100%; height: 200px;">
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
									<p>1.ㅁㅇㄴㄴㅁㅇㄴㅁㅇ</p>
								</div>
								<div class="pt-2 px-2">글자수 : 7</div>
								<div class="p-2">
									<input> <button>제출</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	</div>
</body>

</html>