<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<body layout:fragment="content" style="position: relative;">
	<div class="row d-flex flex-nowrap">
		<div class="col-4 mt-5" style="width:200px; margin-left: 50px; position: fixed;">
			<nav id="know" class="h-100 flex-column align-items-stretch pe-4 border-end">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link" href="#network">네트워크</a>
					<a class="nav-link" href="#java">자바</a>
					<a class="nav-link" href="#os">운영 체제</a>
					<a class="nav-link" href="#db">데이터베이스</a>
					<a class="nav-link" href="#api">API</a>
					<a class="nav-link" href="#security">웹 보안</a>
					<a class="nav-link" href="#pattern">패턴</a>
					<a class="nav-link" href="#virtual">가상화</a>
					<a class="nav-link" href="#cloud">클라우드</a>
					<a class="nav-link" href="#aws">AWS</a>
					<a class="nav-link" href="#springboot">Spring Boot</a>
					<a class="nav-link" href="#algorithm">자료구조 및 알고리즘</a>
				</nav>
			</nav>
		</div>

		<div class="col-8" style="margin-left: 300px; top: 107px;">
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
				<div class="container px-4 py-5 my-3" id="network">
					<h2 class="pb-2 border-bottom">네트워크</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
						style="height: 500px; overflow: scroll;">

						<div th:each="know : ${map.list0}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
					</div>

				</div>
			</div>

			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="java">
				<h2 class="pb-2 border-bottom">자바</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list1}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>

			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="os">
				<h2 class="pb-2 border-bottom">운영 체제</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list2}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="db">
				<h2 class="pb-2 border-bottom">데이터베이스</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list3}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="api">
				<h2 class="pb-2 border-bottom">API</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list4}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="security">
				<h2 class="pb-2 border-bottom">웹 보안</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list5}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="pattern">
				<h2 class="pb-2 border-bottom">패턴</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list6}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="virtual">
				<h2 class="pb-2 border-bottom">가상화</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list7}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="cloud">
				<h2 class="pb-2 border-bottom">클라우드</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list8}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="aws">
				<h2 class="pb-2 border-bottom">AWS</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list9}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="springboot">
				<h2 class="pb-2 border-bottom">Spring Boot</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list10}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>
			
			<div data-bs-spy="scroll" data-bs-target="#know" data-bs-smooth-scroll="true" tabindex="0">
			<div class="container px-4 py-5 my-3" id="algorithm">
				<h2 class="pb-2 border-bottom">알고리즘</h2>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3"
					style="height: 500px; overflow: scroll;">
					
					<div th:each="know : ${map.list11}" class="col d-flex align-items-start">
							<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#knowModal"
								th:onclick="know([[${know.getName()}]])">
								<h3 class="fw-bold mb-0 fs-4">[[${know.getName()}]]</h3>
							</button>

						</div>
				</div>
			</div>
			</div>

		</div>

		<div class="flex-shrink-0 p-3 bg-white">
			<a href="#" th:if="${session.loginUser != null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img th:if="${session.loginUser.profile}" th:src="@{/upload/images?file=} + ${session.loginUser?.profile}" width="32" height="32"
					class="rounded-circle">
				<img th:if="not ${session.loginUser.profile}" src="" width="32" height="32"
					class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" th:text="${session.loginUser?.nick}"></span>
			</a>
			<a href="#" th:if="${session.loginUser == null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img width="32" height="32" class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" data-bs-toggle="modal" data-bs-target="#loginModal">로그인 해주세요.</span>
			</a>
			<ul class="list-unstyled ps-0">
				<li th:if="${session.loginUser != null}" class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
						계정
					</button>
					<div class="collapse" id="account-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"
									data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#updateUserModal">
									내 정보 변경</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
						홈페이지
					</button>
					<div class="collapse" id="home-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/#network" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제
									- 네트워크</a></li>
							<li><a href="/#java" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자바</a></li>
							<li><a href="/#os" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									운영 체제</a></li>
							<li><a href="/#db" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									데이터베이스</a></li>
							<li><a href="/#api" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									API</a></li>
							<li><a href="/#security" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									웹 보안</a></li>
							<li><a href="/#pattern" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									패턴</a></li>
							<li><a href="/#docker" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									도커</a></li>
							<li><a href="/#cloud" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									클라우드</a></li>
							<li><a href="/#aws" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									AWS</a></li>
							<li><a href="/#springboot" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									Spring Boot</a></li>
							<li><a href="/#algorithm" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#know-collapse" aria-expanded="false">
						지식
					</button>
					<div class="collapse" id="know-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/know#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/know#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/know#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/know#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/know#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/know#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/know#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/know#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/know#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/know#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/know#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/know#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#short-collapse" aria-expanded="false">
						문제(단답형)
					</button>
					<div class="collapse" id="short-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/short#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/short#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/prob/short#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/prob/short#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/prob/short#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/prob/short#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/prob/short#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/prob/short#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/prob/short#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/prob/short#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/prob/short#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/prob/short#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#long-collapse" aria-expanded="false">
						문제(주관식)
					</button>
					<div class="collapse" id="long-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/long#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/long#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/prob/long#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/prob/long#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/prob/long#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/prob/long#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/prob/long#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/prob/long#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/prob/long#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/prob/long#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/prob/long#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/prob/long#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
						현재 접속중인 사람
					</button>
					<div class="collapse" id="user-collapse">
						<ul th:if="${userList == null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							접속 유저가 없습니다.
						</ul>
						<ul th:if="${userList != null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li th:each="user : ${userList}">
								<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">[[${user.nick}]]</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="updateUserModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5">
				<div>
					<button type="button" style="float: right; margin-right: 10px; margin-top: 10px;" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="mx-auto py-3">
					<h3>정보 변경</h3>
				</div>
				<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" th:action="@{/user/update}"
					th:object="${user}" enctype="multipart/form-data">
					<div class="form-floating mb-3">
						<input type="nick" class="form-control" id="nick2" name="nick" placeholder="name" autofocus>
						<label for="nick2">닉네임(중복 불가, 4글자 이상)</label>
						<div id="nickNotice2" class="invalid-feedback">
							닉네임이 중복됩니다.
						</div>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="pwd3" th:field="*{pwd}" placeholder="password"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd3">비밀번호(6자리 이상, 12자리 이하)</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" placeholder="password" id="pwd_confirm2"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd_confirm2">비밀번호 확인</label>
						<div id="pwdNotice2" class="feedback" style="height: 20px;">
							비밀번호를 입력해주세요.
						</div>
					</div>
					<hr class="my-4">
					<div>
						<label for="profile" class="my-3">프로필 사진 변경</label>
						<input type="file" class="form-control" id="file" name="file"
							accept="image/gif, image/jpeg, image/png, image/jpg" autofocus>
					</div>
					<button type="submit" class="w-100 btn btn-lg btn-primary mt-4" onclick="return check2()">정보
						변경</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="knowModal" tabindex="-1" aria-hidden="true">
		<!--모든 지식 팝업은 여기로 -> 정보만 바꾸기-->
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5" style="width:700px; right: 100px;">
				<div style="margin-top: 10px;">
					<h6 id="knowNo" style="margin-left: 30px; float: left;">no.111</h6>
					<button type="button" style="float: right; margin-right: 10px;" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div style="margin-bottom: 20px;">
					<h2 id="knowName" style="text-align: center;">인터넷</h2>
				</div>
				<div class="p-4 p-md-5 border rounded-3 bg-light">
					<div id="knowCont">
						<p>- 여러 통신망을 하나로 연결하는 거대한 컴퓨터 통신망</p>
						<p>- 클라이언트와 서버가 연결되어 구성된 망을 컴퓨터 네트워크 라고 하며, TCP/IP 프로토콜을 통해 제공됨.</p>
						<p>- 즉, 수많은 컴퓨터 네트워크들로 구성된 집합체이다.</p>
						<p>- 인터넷은 서로 동시에 참여할 수 있는 쌍방향 통신을 제공한다.</p>
					</div>
					<hr class="my-4">
					<button class="btn mb-3" type="button" id="knowLike" aria-expanded="false" onclick="knowLikePlus()">
						<i class="bi-heart" style="font-size: 1.5rem"></i>
					</button>
					<button class="btn mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
						aria-expanded="false" onclick="reply()">
						<i class="bi-chat" style="font-size: 1.5rem"></i>
					</button>
					<div class="collapse" id="collapse1">
						<div class="modal-section">
							<div class="card card-body">
								<div id="reply-list">
									<!--댓글 목록-->
								</div>

								<!--로그인 하면 나오는 댓글 작성 칸-->
								<div th:if="${session.loginUser != null}" class="row">
									<div class="col-1">
										<img th:if="${session.loginUser.profile}" th:src="@{/upload/images?file=} + ${session.loginUser?.profile}" width="32" height="32"
											class="rounded-circle">
										<img th:if="not ${session.loginUser.profile}" src="" width="32" height="32"
											class="rounded-circle">
										<!--작성자(현재 로그인 유저) 이미지-->
									</div>
									<div class="col-9">
										<input class="w-100 form-control" id="repCont" type="text"
											placeholder="댓글을 입력해주세요.">
									</div>
									<div class="col-2">
										<button type="submit" onclick="repWrite()" class="btn btn-primary">작성</button>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
		var msg = [[${msg}]];
		if (msg != null) {
			alert(msg);
		}

		var loginUser = [[${session.loginUser}]];
		console.log(loginUser);
		
		// 지식 좋아요 추가
		function knowLikePlus() {
			var name = $('#knowName').html(); // 지식 이름
			
			$.ajax({
				type: 'post',
				url: '/know/like',
				data: {
					name: name,
					check: 1, // 추가면 1
				},
				
				success: function(data) {
					var str = '<i class="bi-heart-fill" style="font-size: 1.5rem;"></i>';
					$('#knowLike').attr("onclick", "knowLikeMinus()")
					$('#knowLike').html(str);
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}
		
		// 지식 좋아요 제거
		function knowLikeMinus() {
			var name = $('#knowName').html(); // 지식 이름
			
			$.ajax({
				type: 'post',
				url: '/know/like',
				data: {
					name: name,
					check: 0, // 제거면 0
				},
				
				success: function(data) {
					var str = '<i class="bi-heart" style="font-size: 1.5rem;"></i>';
					$('#knowLike').attr("onclick", "knowLikePlus()")
					$('#knowLike').html(str);
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}
		
		// 댓글 좋아요 추가
		function likePlus(no) {

			$.ajax({
				type: 'post',
				url: '/reply/like',
				data: {
					no: no,
					check: 1, // 추가면 1
				},
				
				success: function(data) {
					console.log(data)
					var str = '<button class="btn" onclick="likeMinus('+ no +')"><i class="bi-balloon-heart-fill" style="font-size: 1.5rem;"></i></button>';
					$('#repLikes'+no).html('좋아요 ' + data.likes +'개');
					$('#repLike'+no).html(str);
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}
		
		// 댓글 좋아요 제거
		function likeMinus(no) {
			
			$.ajax({
				type: 'post',
				url: '/reply/like',
				data: {
					no: no,
					check: 0, // 제거면 0
				},
				
				success: function(data) {
					var str = '<button class="btn" onclick="likePlus('+ no +')"><i class="bi-balloon-heart" style="font-size: 1.5rem;"></i></button>';
					$('#repLikes'+no).html('좋아요 ' + data.likes +'개');
					$('#repLike'+no).html(str);
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}
		
		// 댓글 수정
		function repUpdate(no) {
			var cont = $('#repUpdateCont'+no).val();
			
			$.ajax({
				type: 'post',
				url: '/reply/update',
				data: {
					no: no,
					cont: cont,
				},
				
				success: function(data) {
					$('#repUpdateCol'+no).remove(); // 틀 삭제
					$('#repCont'+no).html(data.cont);
				},
				
				error: function(e) {
					console.log(e)
				}
			});
		}
		
		function repUpdateCol(no) { // 답글 쓰기 클릭 시 아래 collapse 나오게
		
			if($('#repUpdateCol'+no).length > 0) { // 이미 수정 틀이 열려있들 때
				$('#repUpdateCol'+no).remove(); // 틀 삭제
			} else {
				var profile = $('#repSrc'+no).attr("src");
				var str = '';
				// 수정 란 틀
				str += '<div class="mb-3 px-1 collapse show" id="repUpdateCol' + no + '">'
				str += '<div class="modal-section">'
				str += '<div class="card card-body">'
				str += '	<div class="row">'
					
				str += '<div class="col-1"><img src="'+ profile +'" width="32" height="32" class="rounded-circle"></div>                                                                                    '
					
				str += '				<div class="col-9">                                                                    '
				str += '					<input class="w-100 form-control" id="repUpdateCont'+ no +'" type="text"                   '
				str += '						placeholder="댓글을 입력해주세요.">                                            '
				str += '				</div>                                                                                 '
				str += '				<div class="col-2">                                                                    '
				str += '					<button type="submit" onclick="repUpdate('+ no +')" class="btn btn-primary">작성</button>  '
				str += '				</div>                                                                                 '
				str += '			</div>'                                                                                     
				str += '</div>'
				str += '</div>'
				str += '</div>'
				
				$('#rep'+no).after(str); // 현재 댓글 바로 뒤에 틀 넣기
			}
		}
		
		function repNestCol(no1, no2) { // 답글 쓰기 클릭 시 아래 collapse 나오게

			if($('#repNestCol'+no1).length > 0 || $('#repNestCol'+no2).length > 0) {
				$('#repNestCol'+no1).remove(); // 틀 삭제
				$('#repNestCol'+no2).remove(); // 틀 삭제
			} else {
				var profile = $('#repSrc'+no1).attr("src");
				var str = '';
				if(no2 != 0) { // 답글에서 답글 쓰기
					// 답글 작성 란 틀
					str += '<div class="mb-3 px-1 collapse show" id="repNestCol' + no2 + '">'
					str += '<div class="modal-section">'
					str += '<div class="card card-body">'
					str += '	<div class="row">' 
						                                           
					str += '<div class="col-1"><img src="'+ profile +'" width="32" height="32" class="rounded-circle"></div>                                                                                    '
					
					str += '				<div class="col-9">                                                                       '
					str += '					<input class="w-100 form-control" id="repNestCont'+ no2 +'" type="text"                        '
					str += '						placeholder="댓글을 입력해주세요.">                                               '
					str += '				</div>                                                                                    '
					str += '				<div class="col-2">                                                                       '
					str += '					<button type="submit" onclick="repNestWrite('+ no1 + "," + no2 +')"                                        '
					str += '						class="btn btn-primary">작성</button>                                             '
					str += '				</div>                                                                                    '
					str += '			</div>                                                                                       '
					str += '</div>'                                                                                                   
					str += '</div>'
					str += '</div>'
					
					$('#rep'+no2).after(str); // 현재 댓글 바로 뒤에 틀 넣기
				
				} else {
					$('#repNestCol'+no1).remove(); // 틀 삭제
					// 답글 작성 란 틀
					str += '<div class="mb-3 px-1 collapse show" id="repNestCol' + no1 + '">'
					str += '<div class="modal-section">'
					str += '<div class="card card-body">'
					str += '	<div class="row">'
					str += '<div class="col-1"><img src="'+ profile +'" width="32" height="32" class="rounded-circle"></div>                                                                                    '
					                                                                                
					str += '				<div class="col-9">                                                                       '
					str += '					<input class="w-100 form-control" id="repNestCont'+ no1 +'" type="text"                        '
					str += '						placeholder="댓글을 입력해주세요.">                                               '
					str += '				</div>                                                                                    '
					str += '				<div class="col-2">                                                                       '
					str += '					<button type="submit" onclick="repNestWrite('+ no1 + "," + 0 +')"                                        '
					str += '						class="btn btn-primary">작성</button>                                             '
					str += '				</div>                                                                                    '
					str += '			</div>                                                                                       '
					str += '</div>'                                                                                                   
					str += '</div>'
					str += '</div>'
					
					$('#rep'+no1).after(str); // 현재 댓글 바로 뒤에 틀 넣기
				}
			
			}
		}
		
		// 답글 쓰기 클릭 시 답글 작성 란 나온 후 작성 시 댓글 리스트에 추가
		function repNestWrite(no1, no2) { // 현재 작성중인 모댓글 번호, 작성하는 내용이 있는 답글 번호
			var cont = '';
			if(no2 != 0) { // 답글에서 답글 작성할 때
				cont = $('#repNestCont'+no2).val(); // 현재 작성 내용
			} else {
				cont = $('#repNestCont'+no1).val();
			}
			
			var kno = $('#knowNo').html().replace('no.', ''); // 지식 번호
			
			$.ajax({
				type: 'post',
				url: '/reply/nestWrite',
				async: false,
				data: {
					no: no1,
					cont: cont,
					kno: kno,
				},
				
				success: function(data) {
					var no = data.no;
					var profile = data.user.profile;
					var profiles = "" + profile + ""; // 프로필 파라미터로 보내기 위한 변수
					var nick = data.nick;
					var cont = data.cont;
					
					var str = ''; 
					
					// 기본 댓글 틀
					str += '<div class="row my-1 px-1" id="rep' + no + '">                                                                                                                   '
					
					str += '<div class="col-1" id="repImg"' + no + '>'
					str += '<img id="repSrc'+ no +'" src="/upload/images?file=' + profile + '" width="32" height="32" class="rounded-circle">'
					
					str += '</div>';
					str += '<div class="col-10">                                                                                                                          '
					str += '	<label class="repNick" id="repNick' + no + '">' + nick + '</label>                                                                                                     '
					
					str += '	<label class="repCont" id="repCont' + no + '">' + cont + '</label>                                                                              '
					str += '	<div id="repAdd' + no + '">                                                                                                                                     '
					str += '		<label class="line-dark repLike" id="repLikes'+ no +'">좋아요 0개</label>'
					str += '		<button class="btn repNestWrite" id="repNest" data-bs-toggle="collapse" data-bs-target="#repNestCol' + no + '" onclick="repNestCol('+ no1 +','+ no +')">답글 쓰기</button>    '
					str += '		<button class="btn repDelete" onclick="repDelete(' + no + ')">삭제</button>                                                                     '
					str += '<button class="btn repUpdate" id="repUpdate' + no + '" data-bs-toggle="collapse" data-bs-target="#repUpdateCol' + no + '" onclick="repUpdateCol('+ no +')">수정</button>               '
					str += '	</div>                                                                                                                                    '
					str += '</div>                                                                                                                                        '
					str += '<div class="col-1" id="repLike' + no + '">                                                                                                                           '
					str += '<button class="btn" onclick="likePlus('+ no +')"><i class="bi-balloon-heart" style="font-size: 1.5rem;"></i></button>'
					str += '	</div>                                                                                                                                    '
					str += '</div>'
						
					$('#repNestCol'+no2).remove(); // 틀 삭제
					$('#repNestCol'+no1).remove(); // 틀 삭제
					
					var nest = $('#nest-list'+no1).html();
					if(no2 != 0) { // 답글에서 답글 작성할 때
						$('#nest-list'+no1).html(nest + str); // 현재 모댓글 답글 리스트에 추가
						
					} else { // 모댓글에서 답글 작성
						
						if($('#nestSize'+no1).html() == '답글 숨기기') { // 답글 더보기가 켜져있을 때
							$('#nest-list'+no1).html(nest + str); // 현재 모댓글 답글 리스트에 추가
							
						} else { // 답글이 닫혀있거나 답글이 없을 때
						
							if($('#repNest'+no1).length == 0) { // 답글 없을 때
								var repNest = '';
								nest = '';
								
								repNest += '<div id="repNest'+ no1 +'">'
								repNest += '<hr class="mb-2 w-25" style="float: left;">'
								repNest += '<button id="nestSize'+ no1 +'" class="btn" style="font-size: 15px;" type="button" data-bs-toggle="collapse" data-bs-target="#nestCol'+ no1 +'" aria-expanded="false" onclick="repNestClose('+ no1 +','+ 1 +')">답글 숨기기</button>';
								repNest += '<hr class="mb-2 w-50" style="float: right;">'
								repNest += '</div>'
	
								repNest += '<div class="mb-3 px-1 collapse show" id="nestCol' + no1 + '">'
								repNest += '<div class="modal-section">'
								repNest += '<div class="card card-body">'
								repNest += '<div id="nest-list'+ no1 +'">'
								repNest += '</div>'
								repNest += '</div>'
								repNest += '</div>'
								repNest += '</div>'
								
								$('#rep'+no1).after(repNest); // 현재 아래에 repNest 삽입.
								
								$('#nest-list'+no1).html(nest + str); // 현재 모댓글 답글 리스트에 추가
							} else {
								
								$.ajax({
									type: 'post',
									url: '/reply/repn',
									data: {
										no: no1,
									},
									
									success: function(data) {
										
										$('#nestSize'+no1).html('답글 숨기기');
										$('#nestSize'+no1).attr("onclick", "repNestClose("+no1+","+data.length+")"); // 답글 개수를 매개변수로 보냄
										str = '';
										
										data.forEach((list, index) => {
											no = list.no;
											profile = list.user.profile;
											nick = list.nick;      
											cont = list.cont;  
									
											// 들여쓰기
											str += '<div class="row mb-3 px-1" id="rep' + no + '">                                                                                                                   '
											
											str += '<div class="col-1" id="repImg"' + no + '>'
											str += '<img id="repSrc'+ no +'" src="/upload/images?file=' + profile + '" width="32" height="32" class="rounded-circle">'
											
											str += '</div>';
											str += '<div class="col-10">                                                                                                                          '
											str += '	<label class="repNick" id="repNick' + no + '">' + nick + '</label>                                                                                                     '
											
											str += '	<label class="repCont" id="repCont' + no + '">' + cont + '</label>                                                                              '
											str += '	<div id="repAdd' + no1 + '">                                                                                                                                     '
											str += '		<label class="line-dark repLike" id="repLikes'+ no +'">좋아요 ' + list.likes + '개</label>'
						
											str += '<button class="btn repNestWrite" id="repNest" data-bs-toggle="collapse" data-bs-target="#repNestCol' + no + '" onclick="repNestCol('+no1+','+no+')">답글 쓰기</button>    '
											str += '		<button class="btn repDelete" onclick="repDelete(' + no + ')">삭제</button>                                                                     '
											str += '<button class="btn repUpdate" id="repUpdate' + no + '" data-bs-toggle="collapse" data-bs-target="#repUpdateCol' + no + '" onclick="repUpdateCol('+no+')">수정</button>               '
											str += '	</div>                                                                                                                                    '
											str += '</div>                                                                                                                                        '
											str += '<div class="col-1" id="repLike' + no + '">                                                                                                                           '
											str += '<button class="btn" onclick="likePlus('+ no +')"><i class="bi-balloon-heart" style="font-size: 1.5rem;"></i></button>'
											str += '	</div>                                                                                                                                    '
											str += '</div>'
										
										});
										
										$('#nest-list'+no1).html(str);
										$('#nestCol'+no1).attr("class", "collapse show mb-3 px-1");
									},
								
									error: function(e) {
										console.log(e)
									}
								});
							}
						}
					}
					
				},
				
				error: function(e) {
					console.log(e)
				}
			});
		}

		function repDelete(no) {

			$.ajax({
				type: 'post',
				url: '/reply/delete',
				data: {
					no: no,
				},

				success: function(data) {
					var no = data.no;
					var profile = data.user.profile;
					var nick = data.nick;
					var str = '';
					
					str += '<div class="row mb-3 px-1" id="rep' + no + '">'
						 
					str += '<div class="col-1" id="repImg"' + no + '>'
						
					if(profile != null) {
						str += '<img id="repSrc'+ no +'" src="/upload/images?file=' + profile + '" width="32" height="32" class="rounded-circle">'
					} else {
						str += '<img id="repSrc'+ no +'" src="" width="32" height="32" class="rounded-circle">'
					}
					
					str += '</div>'                                      
					str += '<div class="col-10">                                                                                                                          '
					str += '	<label class="repNick" id="repNick' + no + '">' + nick + '</label>                                                                                                     '
					
					str += '	<label class="repCont" id="repCont' + no + '">삭제된 댓글입니다.</label>'  
					str += '	<div id="repAdd' + no + '">'
					str += '	</div>                                                                                                                                    '
					str += '</div>                                                                                                                                        '
					str += '<div class="col-1" id="repLike' + no + '">'	
					str += '	</div>                                                                                                                                    '
					str += '</div>'
					
					$('#rep'+no).html(str);
				},

				error: function(e) {
					console.log(e)
				}
			});
		}

		// 모댓글 작성 클릭 시 작성 후 댓글 리스트에 추가
		function repWrite() {
			var cont = $('#repCont').val();
			var kno = $('#knowNo').html().replace('no.', '');

			$.ajax({
				type: 'post',
				url: '/reply/write',
				data: {
					cont: cont,
					kno: kno,
				},

				success: function(data) {
					$('#repCont').val(''); // 작성 후 내용 없애기
					reply();
				},

				error: function(e) {
					console.log(e);
				}
			});
		}

		// 지식 클릭 시 지식 정보 가져오기
		function know(name) { // 문제의 정보를 받아서 팝업 -> ajax
			$('#collapse1').attr("class", "collapse");
			$.ajax({
				type: 'post',
				url: '/know/cont',
				data: {
					name: name,
				},

				success: function(data) {

					$('#knowNo').html('no.' + data.no);
					$('#knowName').html(data.name);
					
					if(data.likenick != null && loginUser != null) {
						var nickStr = data.likenick.split(" "); // 닉네임 목록
						nickStr.forEach((nick, index) => {
							if(nick == loginUser.nick) { // 이 지식에 좋아요 한 유저중에 현재 로그인 유저가 있을 때
								var str = '<i class="bi-heart-fill" style="font-size: 1.5rem;"></i>';
								$('#knowLike').attr("onclick", "knowLikeMinus()")
								$('#knowLike').html(str);
							}
						});
					}

					if (data.cont.includes('/')) { // 내용이 2개 이상이고, 단답형
						var contArr = data.cont.split('/');
						var str = '';

						contArr.forEach((cont, index) => {
							str += '<p>- ' + cont + '</p>';
						});
						$('#knowCont').html(str);

					} else if (data.cont == '*') { // 테이블 형태 지식

						$.ajax({
							type: 'post',
							url: '/addi/cont',
							data: {
								no: data.no,
							},

							success: function(data) {
								str = '';
								str += '<table>';

								data.forEach((list, index) => {

									if (index == 0) { // 처음에는 th
										str += '<tr>';
										str += '<th>기준</th>';
										str += '<th>' + list.addi.comp1 + '</th>';
										str += '<th>' + list.addi.comp2 + '</th>';
										
										if(list.addi.comp3 != '') {
											str += '<th>' + list.addi.comp3 + '</th>';
										}
										
										str += '</tr>';
									} else {
										str += '<tr>';
										str += '<td>' + list.addi.stand + '</td>';
										str += '<td>' + list.addi.comp1 + '</td>';
										str += '<td>' + list.addi.comp2 + '</td>';
										
										if(list.addi.comp3 != '') {
											str += '<td>' + list.addi.comp3 + '</td>';
										}
										
										str += '</tr>';
									}
								});
								str += '</table>';

								$('#knowCont').html(str);
							},

							error: function(e) {
								console.log(e);
							}
						});

					} else if (data.cont.includes('*')) { // 테이블 형태가 아닌 주관식
						var contArr = data.cont.split('*');
						var str = '';

						contArr.forEach((cont, index) => {
							str += '<p>' + cont + '</p>';
						});
						$('#knowCont').html(str);
					} else {
						$('#knowCont').html('<p>- ' + data.cont + '</p>');
					}
				},

				error: function(e) {
					console.log(e);
				}
			});
		};

		// 지식의 댓글 클릭 시 댓글 정보 가져오기
		function reply() {
			var no = $('#knowNo').html().replace('no.', ''); // 번호만 추출

			$.ajax({
				type: 'post',
				url: '/reply/cont',
				async: false, // str 변수 전역변수로 하게끔 동기식으로 변경.
				data: {
					no: no,
				},
				
				// 모댓글만 가져와서 모댓글마다 답글 가져오기
				success: function(data) {
					var str = '';
					
					data.forEach((list, index) => {
						no = list.no; // 모댓글 번호
						var profile = list.user.profile;
						var profiles = "" + profile + ""; // 프로필 파라미터로 보내기 위한 변수
						var nick = list.nick;
						var cont = list.cont;
						var checks = list.checks; // 1이면 삭제된 댓글

						var check = 0; // 현재 로그인 유저가 이 댓글을 좋아요 했으면 check = 1
						if(list.likenick != null && loginUser != null) {
							var nickStr = list.likenick.split(" "); // 닉네임 목록
							nickStr.forEach((nick, index) => {
								if(nick == loginUser.nick) { // 이 지식에 좋아요 한 유저중에 현재 로그인 유저가 있을 때
									check = 1;
								}
							});
						}
						
						str += '<div class="row mb-3 px-1" id="rep' + no + '">                                                                                                                   '
							
						str += '<div class="col-1" id="repImg"' + no + '>'
						
						if(profile != null) {
							str += '<img id="repSrc'+ no +'" src="/upload/images?file=' + profile + '" width="32" height="32" class="rounded-circle">'
						} else {
							str += '<img id="repSrc'+ no +'" src="" width="32" height="32" class="rounded-circle">'
						}
						
						str += '</div>'  
						
						
						str += '<div class="col-10">                                                                                                                          '
						str += '	<label class="repNick" id="repNick' + no + '">' + nick + '</label>                                                                                                     '
						
						if(checks == 1) {
							str += '	<label class="repCont" id="repCont' + no + '">삭제된 댓글입니다.</label>'  
							str += '	<div id="repAdd' + no + '">'
							str += '	</div>                                                                                                                                    '
							str += '</div>                                                                                                                                        '
							str += '<div class="col-1" id="repLike' + no + '">'	
							str += '	</div>                                                                                                                                    '
							str += '</div>'	
						} else {
							str += '	<label class="repCont" id="repCont' + no + '">' + cont + '</label>                                                                              '
							str += '	<div id="repAdd' + no + '">                                                                                                                                     '
							str += '		<label class="line-dark repLike" id="repLikes'+ no +'">좋아요 ' + list.likes + '개</label>'
							if(loginUser != null) { // 로그인 유저일 때
								str += '		<button class="btn repNestWrite" id="repNest" data-bs-toggle="collapse" data-bs-target="#repNestCol' + no + '" onclick="repNestCol('+no+','+0+')">답글 쓰기</button>    '
							
								if(loginUser.profile == profile) { // 작성자일 때
								str += '		<button class="btn repDelete" onclick="repDelete(' + no + ')">삭제</button>                                                                     '
								str += '<button class="btn repUpdate" id="repUpdate' + no + '" data-bs-toggle="collapse" data-bs-target="#repUpdateCol' + no + '" onclick="repUpdateCol('+no+')">수정</button>               '
								}
							}
							
							str += '	</div>                                                                                                                                    '
							str += '</div>                                                                                                                                        '
							str += '<div class="col-1" id="repLike' + no + '">                                                                                                                           '
							if(loginUser != null) {
								if(check == 1) {
									str += '<button class="btn" onclick="likeMinus('+ no +')"><i class="bi-balloon-heart-fill" style="font-size: 1.5rem;"></i></button>'
								} else {
									str += '<button class="btn" onclick="likePlus('+ no +')"><i class="bi-balloon-heart" style="font-size: 1.5rem;"></i></button>'
								}
							}
							str += '	</div>                                                                                                                                    '
							str += '</div>'
							
						}
						
						// 모댓글일 때 repn=no 인 모댓글의 답글을 가져와서 html에 넣음 -> 들여쓰기 해서
						$.ajax({
							type: 'post',
							url: '/reply/repn',
							async: false,
							data: {
								no: no,
							},
							
							success: function(data) {
								
								if(data.length != 0) {
									// 답글 collapse 추가
									str += '<div id="repNest'+ no +'">'
									str += '<hr class="mb-2 w-25" style="float: left;">'
									str += '<button id="nestSize'+ no +'" class="btn" style="font-size: 15px;" type="button" data-bs-toggle="collapse" data-bs-target="#nestCol'+ no +'" aria-expanded="false" onclick="repNest('+ no +')">답글 '+ data.length +'개 보기</button>';
									str += '<hr class="mb-2 w-50" style="float: right;">'
									str += '</div>'
									
									str += '<div class="collapse mb-3 px-1" id="nestCol' + no + '">'
									str += '<div class="modal-section">'
									str += '<div class="card card-body">'
									str += '<div id="nest-list'+ no +'">'
									str += '</div>'
									str += '</div>'
									str += '</div>'
									str += '</div>'
								}	

							},
							
							error: function(e) {
								console.log(e)
							}
						});
						
					});					
					$('#reply-list').html(str);
				},

				error: function(e) {
					console.log(e);
				}
			});
		};
		
		function repNestClose(no, size) {
			
			$.ajax({
				type: 'post',
				url: '/reply/repn',
				async: false,
				data: {
					no: no,
				},
			
				success: function(data) {
					$('#nestSize'+no).html('답글 ' + data.length + '개 보기');
					$('#nestSize'+no).attr("onclick", "repNest("+no+")");
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}
		
		function repNest(no) {
			
			$.ajax({
				type: 'post',
				url: '/reply/repn',
				data: {
					no: no,
				},
				
				success: function(data) {
					
					if(data.length != 0) {
						$('#nestSize'+no).html('답글 숨기기');
						$('#nestSize'+no).attr("onclick", "repNestClose("+no+","+data.length+")"); // 답글 개수를 매개변수로 보냄
						str = '';
						
						data.forEach((list, index) => {
							var no1 = list.no;
							var profile = list.user.profile;
							var nick = list.nick;      
							var cont = list.cont;  
							var checks = list.checks;    
							
							var check = 0; // 현재 로그인 유저가 이 댓글을 좋아요 했으면 check = 1
							if(list.likenick != null && loginUser != null) {
								nickStr = list.likenick.split(" "); // 닉네임 목록
								nickStr.forEach((nick, index) => {
									if(nick == loginUser.nick) { // 이 지식에 좋아요 한 유저중에 현재 로그인 유저가 있을 때
										check = 1;
									}
								});
							}
							
							// 들여쓰기
							str += '<div class="row mb-3 px-1" id="rep' + no1 + '">                                                                                                                   '

							str += '<div class="col-1" id="repImg"' + no + '>'
						
							if(profile != null) {
								str += '<img id="repSrc'+ no +'" src="/upload/images?file=' + profile + '" width="32" height="32" class="rounded-circle">'
							} else {
								str += '<img id="repSrc'+ no +'" src="" width="32" height="32" class="rounded-circle">'
							}
						
							str += '</div>'  
							
							str += '<div class="col-10">                                                                                                                          '
							str += '	<label class="repNick" id="repNick' + no1 + '">' + nick + '</label>                                                                                                     '
							
							if(checks == 1) {
								str += '	<label class="repCont" id="repCont' + no1 + '">삭제된 댓글입니다.</label>'  
								str += '	<div id="repAdd' + no1 + '">'
								str += '	</div>                                                                                                                                    '
								str += '</div>                                                                                                                                        '
								str += '<div class="col-1" id="repLike' + no1 + '">'	
								str += '	</div>                                                                                                                                    '
								str += '</div>'	
							} else {
								str += '	<label class="repCont" id="repCont' + no1 + '">' + cont + '</label>                                                                              '
								str += '	<div id="repAdd' + no1 + '">                                                                                                                                     '
								str += '		<label class="line-dark repLike" id="repLikes'+ no +'">좋아요 ' + list.likes + '개</label>'

								if(loginUser != null) { // 로그인 유저일 때
									str += '<button class="btn repNestWrite" id="repNest" data-bs-toggle="collapse" data-bs-target="#repNestCol' + no1 + '" onclick="repNestCol('+no+','+no1+')">답글 쓰기</button>    '
									
									if(loginUser.profile == profile) { // 작성자일 때
									str += '		<button class="btn repDelete" onclick="repDelete(' + no1 + ')">삭제</button>                                                                     '
									str += '<button class="btn repUpdate" id="repUpdate' + no1 + '" data-bs-toggle="collapse" data-bs-target="#repUpdateCol' + no1 + '" onclick="repUpdateCol('+no1+')">수정</button>               '
									}
								}
								str += '	</div>                                                                                                                                    '
								str += '</div>                                                                                                                                        '
								str += '<div class="col-1" id="repLike' + no1 + '">                                                                                                                           '
								if(loginUser != null) {
									if(check == 1) {
										str += '<button class="btn" onclick="likeMinus('+ no1 +')"><i class="bi-balloon-heart-fill" style="font-size: 1.5rem;"></i></button>'
									} else {
										str += '<button class="btn" onclick="likePlus('+ no1 +')"><i class="bi-balloon-heart" style="font-size: 1.5rem;"></i></button>'
									}
								}
								str += '	</div>                                                                                                                                    '
								str += '</div>'
								
							}
						});
						
						$('#nest-list'+no).html(str);					
					}	
	
				},
				
				error: function(e) {
					console.log(e)
				}
			});
		}

		$('#pwd_confirm2').keyup(function() {
			var pwd = $('#pwd3').val();
			var pwd_confirm = $('#pwd_confirm2').val();

			if (pwd == pwd_confirm) {
				var email = loginUser.email;

				$.ajax({
					type: 'post',
					url: '/check/pwd',
					data: {
						email: email,
						pwd: pwd,
					},

					success: function(data) {

						// 중복
						if (data == '1') {
							$('#pwd_confirm2').removeClass('is-valid');
							$('#pwd_confirm2').addClass('is-invalid');
							$('#pwdNotice2').html('원래 비밀번호와 같습니다.');
						} else {
							$('#pwd_confirm2').removeClass('is-invalid');
							$('#pwd_confirm2').addClass('is-valid');
							$('#pwdNotice2').html('비밀번호가 일치합니다.');
						}
					},

					error: function(e) {
						console.log(e);
					}
				});
			} else {
				$('#pwd_confirm2').removeClass('is-valid');
				$('#pwd_confirm2').addClass('is-invalid');
				$('#pwdNotice2').html('비밀번호가 일치하지 않습니다.');
			}
		});

		$('#nick2').keyup(function() {
			var nick = $('#nick2').val();

			$.ajax({
				type: 'get',
				url: '/check/nick',
				data: {
					nick: nick,
				},
				contentType: "application/json;charset=UTF-8",

				success: function(data) {

					// 중복
					if (data == '1') {
						$('#nick2').addClass('is-invalid');
					} else {
						$('#nick2').removeClass('is-invalid');
					}
				},

				error: function(e) {
					console.log(e);
				}
			});
		});

		function check2() {
			if ($('#nick2').hasClass('is-invalid') || $('#email2').hasClass('is-invalid') || $('#pwd_confirm2').hasClass('is-invalid')) {
				return false;
			} else {
				return true;
			}
		};
	</script>

</body>

</html>