<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<body layout:fragment="content">
	<div class="row d-flex flex-nowrap">
		<div class="col-4 mt-5" style="width:200px; margin-left: 50px; position: fixed">
			<nav id="probLong" class="h-100 flex-column align-items-stretch pe-4 border-end">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link" href="#network">네트워크</a>
					<a class="nav-link" href="#java1">자바</a>
					<nav class="nav nav-pills flex-column">
						<a class="nav-link ms-3 my-1" href="#java1">기초</a>
						<a class="nav-link ms-3 my-1" href="#java2">심화</a>
						<a class="nav-link ms-3 my-1" href="#java3">프레임워크</a>
					</nav>
					<a class="nav-link" href="#git">GIT</a>
				</nav>
			</nav>
		</div>

		<div class="col-8" style="margin-left: 300px;">
			<div data-bs-spy="scroll" data-bs-target="#porbLong" data-bs-smooth-scroll="true" tabindex="0">
				<div class="container px-4 py-5 my-3" id="network">
					<h2 class="pb-2 border-bottom">[[${knowMap.list0[0].cate}]]</h2>
					<div class="row align-items-center" style="height: 500px;">

						<div th:each="know : ${knowMap.list0}" class="col-md-10 mx-auto my-2 col-lg-3 w-50">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<h3 class="py-2">[[${know.name}]]<button class="btn"
												style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h3>
									</h5>
								</div>
								<div class="mb-3 probLong" th:id="'probCont'+${know.no}">
									<label for="probLong1" class="form-label">답을 자유롭게 적어주세요.</label>
									<!-- 일반 주관식일 때 -->
									<textarea th:if="not ${#strings.equals(know.cont, '*')}" class="form-control" id="probLong1" rows="7">
										
									</textarea>
									
									<!-- 테이블 형식 주관식일 때 -->
									<table th:if="${#strings.equals(know.cont, '*')}">
										<tr th:if="${#strings.equals(list.addi.stand, '-')} and ${list.addi.no} == ${know.no}" th:each="list : ${addiList}">  <!-- 첫 번째 줄일 때-->                        
											<th>기준</th>                  
											<th>[[${list.addi.comp1}]]</th>
											<th>[[${list.addi.comp2}]]</th>
										</tr>   
										<tr th:if="not ${#strings.equals(list.addi.stand, '-')} and ${list.addi.no} == ${know.no}" th:each="list : ${addiList}">                          
											<td>[[${list.addi.stand}]]</td>
											<td><input type="text"></td>
											<td><input type="text"></td>
										</tr>
									</table>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-3" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu" th:id="'dropDown'+${know.no}">
										<!--일반 주관식 답--> 
										<li th:if="not ${#strings.equals(know.cont, '*')}" class="dropdown-item1"> 
											<p th:each="p : ${#strings.arraySplit(know.cont, '*')}">[[${p}]]</p>											
										</li>
										
										<!--테이블 형식 답-->
										<li class="dropdown-item1" th:if="${#strings.equals(know.cont, '*')}"> 
											<table> <!-- 현재 문제 번호와 addi 번호가 같을때만 가져오기 -->
												<tr th:if="${#strings.equals(list.addi.stand, '-')} and ${list.addi.no} == ${know.no}" th:each="list : ${addiList}">  <!-- 첫 번째 줄일 때-->                        
													<th>기준</th>                  
													<th>[[${list.addi.comp1}]]</th>
													<th>[[${list.addi.comp2}]]</th>
												</tr>   
												<tr th:if="not ${#strings.equals(list.addi.stand, '-')} and ${list.addi.no} == ${know.no}" th:each="list : ${addiList}">                          
													<td>[[${list.addi.stand}]]</td>
													<td>[[${list.addi.comp1}]]</td>
													<td>[[${list.addi.comp2}]]</td>
												</tr>                                              													
											</table>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="container px-4 py-5" id="java1">
					<h2 class="pb-2 border-bottom">자바(기초)</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">
						<div class="col d-flex align-items-start">
							<div>
								<h3 class="fw-bold mb-0 fs-4">인터넷</h3>
							</div>
						</div>
						<div class="col d-flex align-items-start">
							<div>
								<h3 class="fw-bold mb-0 fs-4">TCP / IP 프로토콜</h3>
							</div>
						</div>
						<div class="col d-flex align-items-start">
							<div>
								<h3 class="fw-bold mb-0 fs-4">DNS 주소</h3>
							</div>
						</div>
					</div>
				</div>

				<div class="container px-4 py-5" id="java2">
					<h2 class="pb-2 border-bottom">자바(심화)</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">
						<div class="col d-flex align-items-start">
							<div>
								<h3 class="fw-bold mb-0 fs-4">인터넷</h3>
							</div>
						</div>
						<div class="col d-flex align-items-start">
							<div>
								<h3 class="fw-bold mb-0 fs-4">TCP / IP 프로토콜</h3>
							</div>
						</div>
						<div class="col d-flex align-items-start">
							<div>
								<h3 class="fw-bold mb-0 fs-4">DNS 주소</h3>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="flex-shrink-0 p-3 bg-white">
			<a href="#" th:if="${session.loginUser != null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img th:if="${session.loginUser.profile}" th:src="@{/upload/images?file=} + ${session.loginUser?.profile}" width="32" height="32"
					class="rounded-circle">
				<img th:if="not ${session.loginUser.profile}" src="" width="32" height="32"
					class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" th:text="${session.loginUser?.nick}"></span>
			</a>
			<a href="#" th:if="${session.loginUser == null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img width="32" height="32" class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" data-bs-toggle="modal" data-bs-target="#loginModal">로그인 해주세요.</span>
			</a>
			<ul class="list-unstyled ps-0">
				<li th:if="${session.loginUser != null}" class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
						계정
					</button>
					<div class="collapse" id="account-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"
									data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#updateUserModal">
									내 정보 변경</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
						홈페이지
					</button>
					<div class="collapse" id="home-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/#network" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제
									- 네트워크</a></li>
							<li><a href="/#java1" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자바(기초)</a></li>
							<li><a href="/#java2" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자바(심화)</a></li>
							<li><a href="/#java3" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자바(프레임워크)</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#know-collapse" aria-expanded="false">
						지식
					</button>
					<div class="collapse" id="know-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/know#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/know#java1"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(기초)</a></li>
							<li><a href="/know#java2"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(심화)</a></li>
							<li><a href="/know#java3"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(프레임워크)</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#short-collapse" aria-expanded="false">
						문제(단답형)
					</button>
					<div class="collapse" id="short-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/short#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/short#java1"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(기초)</a></li>
							<li><a href="/prob/short#java2"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(심화)</a></li>
							<li><a href="/prob/short#java3"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(프레임워크)</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#long-collapse" aria-expanded="false">
						문제(주관식)
					</button>
					<div class="collapse" id="long-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/long#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/long#java1"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(기초)</a></li>
							<li><a href="/prob/long#java2"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(심화)</a></li>
							<li><a href="/prob/long#java3"
									class="link-dark d-inline-flex text-decoration-none rounded">자바(프레임워크)</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
						현재 접속중인 사람
					</button>
					<div class="collapse" id="user-collapse">
						<ul th:if="${userList == null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							접속 유저가 없습니다.
						</ul>
						<ul th:if="${userList != null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li th:each="user : ${userList}">
								<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">[[${user.nick}]]</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="updateUserModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5">
				<div>
					<button type="button" style="float: right; margin-right: 10px; margin-top: 10px;" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="mx-auto py-3">
					<h3>정보 변경</h3>
				</div>
				<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" th:action="@{/user/update}"
					th:object="${user}" enctype="multipart/form-data">
					<div class="form-floating mb-3">
						<input type="nick" class="form-control" id="nick2" name="nick" placeholder="name" autofocus>
						<label for="nick2">닉네임(중복 불가, 4글자 이상)</label>
						<div id="nickNotice2" class="invalid-feedback">
							닉네임이 중복됩니다.
						</div>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="pwd3" th:field="*{pwd}" placeholder="password"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd3">비밀번호(6자리 이상, 12자리 이하)</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" placeholder="password" id="pwd_confirm2"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd_confirm2">비밀번호 확인</label>
						<div id="pwdNotice2" class="feedback" style="height: 20px;">
							비밀번호를 입력해주세요.
						</div>
					</div>
					<hr class="my-4">
					<div>
						<label for="profile" class="my-3">프로필 사진 변경</label>
						<input type="file" class="form-control" id="file" name="file"
							accept="image/gif, image/jpeg, image/png, image/jpg" autofocus>
					</div>
					<button type="submit" class="w-100 btn btn-lg btn-primary mt-4" onclick="return check2()">정보
						변경</button>
				</form>
			</div>
		</div>
	</div>


	<script th:inline="javascript">
		var msg = [[${msg}]];
		if (msg != null) {
			alert(msg);
		}

		var loginUser = [[${session.loginUser}]];
		console.log(loginUser);
		
		function knowThrow(no1, cate) { // 넘기는 문제 번호
			var no2 = 0;
			$('.knowNo'+cate).each(function() { // 클래스의 html 다 가져오기
				var text = $(this).text().replace("no.", "");
				if(text != no1) {
					no2 = Number(text);
				}
			});
			
			$.ajax({
				type: 'post',
				url: '/know/throw',
				async: false, 
				data: {
					no1: no1,
					no2: no2,
					no3: 0, // 문제 2개여서 3번째에 0추가 -> 단답형과 비교하기 위해
					cate: cate,
				},
				
				success: function(data) {

					var str = '';
					var dropStr = ''; // 정답에 넣을 html
					var knowThrow = data.no+",'" +data.cate + "'"; 
					
					str += '<h5 class="knowNo'+ data.cate +'">no.'+data.no+'</h5>';
					str += '<h3 class="py-2">'+ data.name +'<button class="btn" style="float:right;" onclick="knowThrow('+ knowThrow + ')">넘기기</button></h3>'
					
					$('#knowNo'+no1).html(str);
					$('#knowNo'+no1).attr("id", "knowNo"+data.no);
					str = '';
					
					if(data.cont == '*') { // 테이블 형식 문제
					
						$.ajax({
							type: 'post',
							url: '/addi/cont',
							async: false, 
							data: {
								no: data.no, // 현재 바뀐 번호를 가지고 addi 가져오기
							},
							
							success: function(data) {
								console.log(data)
								str += '<table>';
								dropStr += '<li class="dropdown-item1">'
								dropStr += '<table>';

								data.forEach((list, index) => {
									console.log(list)
									if (index == 0) { // 처음에는 th
										str += '<tr>';
										str += '<th>기준</th>';
										str += '<th>' + list.addi.comp1 + '</th>';
										str += '<th>' + list.addi.comp2 + '</th>';
										str += '</tr>';
										
										dropStr += '<tr>';
										dropStr += '<th>기준</th>';
										dropStr += '<th>' + list.addi.comp1 + '</th>';
										dropStr += '<th>' + list.addi.comp2 + '</th>';
										dropStr += '</tr>';
									} else {
										str += '<tr>';
										str += '<td>' + list.addi.stand + '</td>';
										str += '<td><input type="text"></td>';
										str += '<td><input type="text"></td>';
										str += '</tr>';
										
										dropStr += '<tr>';
										dropStr += '<td>' + list.addi.stand + '</td>';
										dropStr += '<td>' + list.addi.comp1 + '</td>';
										dropStr += '<td>' + list.addi.comp2 + '</td>';
										dropStr += '</tr>';
									}
								});
								str += '</table>';
								dropStr += '</table>';
								dropStr += '</li>';
								
							},
							
							error: function(e) {
								console.log(e);
							}
						});
					
					} else { // 일반 주관식 문제
						if(data.cont.includes('*')) {
							var contStr = data.cont.split('*');

							contStr.forEach((cont, index) => {
								dropStr += '<p>' + cont + '</p>';
							});
						} else {
							var contStr = data.cont.split('/');

							contStr.forEach((cont, index) => {
								dropStr += '<p>' + cont + '</p>';
							});
						}
						
						str += '<textarea class="form-control" id="probLong1" rows="7"></textarea>';
					}
					$('#dropDown'+no1).html(dropStr);
					$('#dropDown'+no1).attr("id", "dropDown"+data.no);
					$('#probCont'+no1).html(str);
					$('#probCont'+no1).attr("id", "probCont"+data.no);
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}

		$('#pwd_confirm2').keyup(function () {
			var pwd = $('#pwd3').val();
			var pwd_confirm = $('#pwd_confirm2').val();

			if (pwd == pwd_confirm) {
				var email = loginUser.email;
				console.log(email);

				$.ajax({
					type: 'post',
					url: '/check/pwd',
					data: {
						email: email,
						pwd: pwd,
					},

					success: function (data) {
						console.log(data);

						// 중복
						if (data == '1') {
							$('#pwd_confirm2').removeClass('is-valid');
							$('#pwd_confirm2').addClass('is-invalid');
							$('#pwdNotice2').html('원래 비밀번호와 같습니다.');
						} else {
							$('#pwd_confirm2').removeClass('is-invalid');
							$('#pwd_confirm2').addClass('is-valid');
							$('#pwdNotice2').html('비밀번호가 일치합니다.');
						}
					},

					error: function (e) {
						console.log(e);
					}
				});
			} else {
				$('#pwd_confirm2').removeClass('is-valid');
				$('#pwd_confirm2').addClass('is-invalid');
				$('#pwdNotice2').html('비밀번호가 일치하지 않습니다.');
			}
		});

		$('#nick2').keyup(function () {
			var nick = $('#nick2').val();

			$.ajax({
				type: 'get',
				url: '/check/nick',
				data: {
					nick: nick,
				},
				contentType: "application/json;charset=UTF-8",

				success: function (data) {
					console.log(data);

					// 중복
					if (data == '1') {
						$('#nick2').addClass('is-invalid');
					} else {
						$('#nick2').removeClass('is-invalid');
					}
				},

				error: function (e) {
					console.log(e);
				}
			});
		});

		function check2() {
			if ($('#nick2').hasClass('is-invalid') || $('#email2').hasClass('is-invalid') || $('#pwd_confirm2').hasClass('is-invalid')) {
				return false;
			} else {
				return true;
			}
		};
	</script>

</html>