<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<body layout:fragment="content">
	<div class="row d-flex flex-nowrap">
		<div class="col-4 mt-5" style="width:200px; margin-left: 50px; position: fixed">
			<nav id="probShort" class="h-100 flex-column align-items-stretch pe-4 border-end">
				<nav class="nav nav-pills flex-column">
					<a class="nav-link" href="#network">네트워크</a>
					<a class="nav-link" href="#java">자바</a>
					<a class="nav-link" href="#os">운영 체제</a>
					<a class="nav-link" href="#db">데이터베이스</a>
					<a class="nav-link" href="#api">API</a>
					<a class="nav-link" href="#security">웹 보안</a>
					<a class="nav-link" href="#pattern">패턴</a>
					<a class="nav-link" href="#virtual">가상화</a>
					<a class="nav-link" href="#cloud">클라우드</a>
					<a class="nav-link" href="#aws">AWS</a>
					<a class="nav-link" href="#springboot">Spring Boot</a>
					<a class="nav-link" href="#algorithm">자료구조 및 알고리즘</a>
				</nav>
			</nav>
		</div>

		<div class="col-8" style="margin-left: 300px;">
			<div data-bs-spy="scroll" data-bs-target="#probShort" data-bs-smooth-scroll="true" tabindex="0">
				
				<div class="container px-4 py-5 my-3" id="network">
					<h2 class="pb-2 border-bottom">[[${map.list0[0].cate}]]</h2>
					<div class="row align-items-center" style="height: 500px;">

						<div th:each="know : ${map.list0}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container px-4 py-5" id="java">
					<h2 class="pb-2 border-bottom">[[${map.list1[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list1}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container px-4 py-5" id="os">
					<h2 class="pb-2 border-bottom">[[${map.list2[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list2}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>		
				
				<div class="container px-4 py-5" id="db">
					<h2 class="pb-2 border-bottom">[[${map.list3[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list3}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>		
				
				<div class="container px-4 py-5" id="api">
					<h2 class="pb-2 border-bottom">[[${map.list4[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list4}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="container px-4 py-5" id="security">
					<h2 class="pb-2 border-bottom">[[${map.list5[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list5}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="container px-4 py-5" id="pattern">
					<h2 class="pb-2 border-bottom">[[${map.list6[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list6}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="container px-4 py-5" id="docker">
					<h2 class="pb-2 border-bottom">[[${map.list7[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list7}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="container px-4 py-5" id="cloud">
					<h2 class="pb-2 border-bottom">[[${map.list8[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list8}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="container px-4 py-5" id="aws">
					<h2 class="pb-2 border-bottom">[[${map.list9[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list9}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>
				
				<div class="container px-4 py-5" id="springboot">
					<h2 class="pb-2 border-bottom">[[${map.list10[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list10}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>	
				
				<div class="container px-4 py-5" id="algorithm">
					<h2 class="pb-2 border-bottom">[[${map.list11[0].cate}]]</h2>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
						style="height: 500px;">

						<div th:each="know : ${map.list11}" class="col-md-10 mx-auto col-lg-3">
							<div class="p-2 border rounded-3 bg-light">
								<div class="p-1 mb-5" th:id="'knowNo'+${know.no}">
									<h5 th:classappend="'knowNo'+${know.cate}">no.[[${know.no}]]<button class="btn" style="float:right;" th:onclick="knowThrow([[${know.no}]], [[${know.cate}]])">넘기기</button></h5>
								</div>
								<div class="px-1 mb-5" th:id="'knowCont'+${know.no}" style="overflow:scroll; width:100%; height: 200px;">
									<p th:each="p : ${#strings.setSplit(know.cont, '/')}">
										[[${p}]]
									</p>
								</div>
								<div class="dropdown" style="height: 30px;">
									<button class="btn pb-1" style="float: right;">정답 보기</button>
									<ul class="dropdown-menu">
										<li class="dropdown-item1" th:id="'knowName'+${know.no}">[[${know.name}]]</li>
									</ul>
								</div>
								<div th:with="name = ${#strings.replace(know.name, ' ', '')}" class="pt-2 px-2" th:id="'nameLength'+${know.no}">
									글자수(띄어쓰기 제외) : [[${name.length}]]
								</div>
								<div class="p-2">
									<input type="text" th:id="'know'+${know.no}" style="height: 35px;"> <button class="btn btn-primary" th:id="'knowSubmit'+${know.no}" th:onclick="knowSubmit([[${know.no}]])">제출</button>
								</div>
							</div>
						</div>

					</div>
				</div>	

			</div>
		</div>

		<div class="flex-shrink-0 p-3 bg-white">
			<a href="#" th:if="${session.loginUser != null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img th:if="${session.loginUser.profile}" th:src="@{/upload/images?file=} + ${session.loginUser?.profile}" width="32" height="32"
					class="rounded-circle">
				<img th:if="not ${session.loginUser.profile}" src="" width="32" height="32"
					class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" th:text="${session.loginUser?.nick}"></span>
			</a>
			<a href="#" th:if="${session.loginUser == null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img width="32" height="32" class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" data-bs-toggle="modal" data-bs-target="#loginModal">로그인 해주세요.</span>
			</a>
			<ul class="list-unstyled ps-0">
				<li th:if="${session.loginUser != null}" class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
						계정
					</button>
					<div class="collapse" id="account-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"
									data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#updateUserModal">
									내 정보 변경</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
						홈페이지
					</button>
					<div class="collapse" id="home-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/#network" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제
									- 네트워크</a></li>
							<li><a href="/#java" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자바</a></li>
							<li><a href="/#os" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									운영 체제</a></li>
							<li><a href="/#db" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									데이터베이스</a></li>
							<li><a href="/#api" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									API</a></li>
							<li><a href="/#security" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									웹 보안</a></li>
							<li><a href="/#pattern" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									패턴</a></li>
							<li><a href="/#docker" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									도커</a></li>
							<li><a href="/#cloud" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									클라우드</a></li>
							<li><a href="/#aws" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									AWS</a></li>
							<li><a href="/#springboot" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									Spring Boot</a></li>
							<li><a href="/#algorithm" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#know-collapse" aria-expanded="false">
						지식
					</button>
					<div class="collapse" id="know-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/know#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/know#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/know#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/know#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/know#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/know#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/know#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/know#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/know#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/know#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/know#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/know#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#short-collapse" aria-expanded="false">
						문제(단답형)
					</button>
					<div class="collapse" id="short-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/short#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/short#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/prob/short#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/prob/short#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/prob/short#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/prob/short#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/prob/short#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/prob/short#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/prob/short#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/prob/short#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/prob/short#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/prob/short#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#long-collapse" aria-expanded="false">
						문제(주관식)
					</button>
					<div class="collapse" id="long-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/long#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/long#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/prob/long#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/prob/long#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/prob/long#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/prob/long#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/prob/long#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/prob/long#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/prob/long#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/prob/long#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/prob/long#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/prob/long#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
						현재 접속중인 사람
					</button>
					<div class="collapse" id="user-collapse">
						<ul th:if="${userList == null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							접속 유저가 없습니다.
						</ul>
						<ul th:if="${userList != null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li th:each="user : ${userList}">
								<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">[[${user.nick}]]</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>

	<!-- Modal -->
	<div class="modal fade" id="updateUserModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5">
				<div>
					<button type="button" style="float: right; margin-right: 10px; margin-top: 10px;" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="mx-auto py-3">
					<h3>정보 변경</h3>
				</div>
				<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" th:action="@{/user/update}"
					th:object="${user}" enctype="multipart/form-data">
					<div class="form-floating mb-3">
						<input type="nick" class="form-control" id="nick2" name="nick" placeholder="name" autofocus>
						<label for="nick2">닉네임(중복 불가, 4글자 이상)</label>
						<div id="nickNotice2" class="invalid-feedback">
							닉네임이 중복됩니다.
						</div>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="pwd3" th:field="*{pwd}" placeholder="password"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd3">비밀번호(6자리 이상, 12자리 이하)</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" placeholder="password" id="pwd_confirm2"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd_confirm2">비밀번호 확인</label>
						<div id="pwdNotice2" class="feedback" style="height: 20px;">
							비밀번호를 입력해주세요.
						</div>
					</div>
					<hr class="my-4">
					<div>
						<label for="profile" class="my-3">프로필 사진 변경</label>
						<input type="file" class="form-control" id="file" name="file"
							accept="image/gif, image/jpeg, image/png, image/jpg" autofocus>
					</div>
					<button type="submit" class="w-100 btn btn-lg btn-primary mt-4" onclick="return check2()">정보
						변경</button>
				</form>
			</div>
		</div>
	</div>


	<script th:inline="javascript">
		var msg = [[${msg}]];
		if (msg != null) {
			alert(msg);
		}

		var loginUser = [[${session.loginUser}]];
		console.log(loginUser);
		
		function knowThrow(no1, cate) { // 넘기는 문제 번호
		
			var no2 = 0;
			$('.knowNo'+cate).each(function() {
				var text = $(this).text().replace("no.", "").replace("넘기기", "");
				console.log(text)
				if(text != no1) {
					no2 = Number(text);
				}
				if(text != no1 && no2 != 0) { // no1, no2 다 있을 때
					no3 = Number(text);
				}
			});
			console.log(no1, no2, no3)
			
			$.ajax({
				type: 'post',
				url: '/know/throw',
				async: false, 
				data: {
					no1: no1,
					no2: no2,
					no3: no3, // 현재 카테고리 문제 3개 가져가서 아닌거 
					cate: cate,
				},
				
				success: function(data) {

					var str = '';
					var knowThrow = data.no+",'" +data.cate + "'"; 
					
					str += '<h5 class="knowNo'+ data.cate +'">no.'+data.no+'<button class="btn" style="float:right;" onclick="knowThrow('+ knowThrow + ')">넘기기</button></h5>';
					
					$('#knowNo'+no1).html(str);
					$('#knowNo'+no1).attr("id", "knowNo"+data.no);
					str = '';
					
					$('#knowName'+no1).html(data.name);
					$('#knowName'+no1).attr("id", "knowName"+data.no);
					
					var cont = data.cont;
					if(cont.includes('/')) {
						cont = cont.split('/');
						cont.forEach((p, index) => {
							str += '<p>'+ p +'</p>';
						});
					} else {
						str += '<p>'+ cont +'</p>';
					}
					
					$('#knowCont'+no1).html(str);
					$('#knowCont'+no1).attr("id", "knowCont"+data.no);
					
					$('#nameLength'+no1).html("글자수(띄어쓰기 제외) : "+data.name.replace(" ","").length);
					$('#nameLength'+no1).attr("id", "nameLength"+data.no);
					
					$('#know'+no1).attr("id", "know"+data.no);
					$('#knowSubmit'+no1).attr("onclick", "knowSubmit("+ data.no +")");
					$('#knowSubmit'+no1).attr("id", "knowSubmit"+data.no);
					
				},
				
				error: function(e) {
					console.log(e);
				}
			});
		}
		
		function knowSubmit(no) { // 정답 제출 시 실행되는 함수
			var input = $('#know'+no).val().replace(" ", ""); // 현재 입력한 내용 가져와서 띄어쓰기 제거
			var name = $('#knowName'+no).html().replace(" ", "");
			
			var eng = /[a-zA-Z]/; // 영어 포함 여부 확인 
			
			if(eng.test(name)) { // 정답에 영어가 포함될 경우
				name = name.toLowerCase; // 다 소문자로 바꾸기
			}
			if(eng.test(input)) { // 정답에 영어가 포함될 경우
				input = input.toLowerCase; // 다 소문자로 바꾸기
			}
			
			if(name == input) { // 맞췄을 때
				alert('정답입니다.')
				$('#know'+no).val('맞춘 문제입니다.')
				$('#know'+no).attr("readonly", true);
				
				if(loginUser != null) { // 로그인 하고 맞춘 경우
					var email = loginUser.email;
					
					$.ajax({
						type: 'post',
						url: '/user/know',
						data: {
							no: no,
							email: email,
						},
						
						success: function(data) {
						},
						
						error: function(e) {
							console.log(e);
						}
					});
				}
				
			} else {
				alert('오답입니다.')
				$('#know'+no).attr("autofocus", true);
			}
			
		}

		$('#pwd_confirm2').keyup(function () {
			var pwd = $('#pwd3').val();
			var pwd_confirm = $('#pwd_confirm2').val();

			if (pwd == pwd_confirm) {
				var email = loginUser.email;
				console.log(email);

				$.ajax({
					type: 'post',
					url: '/check/pwd',
					data: {
						email: email,
						pwd: pwd,
					},

					success: function (data) {
						console.log(data);

						// 중복
						if (data == '1') {
							$('#pwd_confirm2').removeClass('is-valid');
							$('#pwd_confirm2').addClass('is-invalid');
							$('#pwdNotice2').html('원래 비밀번호와 같습니다.');
						} else {
							$('#pwd_confirm2').removeClass('is-invalid');
							$('#pwd_confirm2').addClass('is-valid');
							$('#pwdNotice2').html('비밀번호가 일치합니다.');
						}
					},

					error: function (e) {
						console.log(e);
					}
				});
			} else {
				$('#pwd_confirm2').removeClass('is-valid');
				$('#pwd_confirm2').addClass('is-invalid');
				$('#pwdNotice2').html('비밀번호가 일치하지 않습니다.');
			}
		});

		$('#nick2').keyup(function () {
			var nick = $('#nick2').val();

			$.ajax({
				type: 'get',
				url: '/check/nick',
				data: {
					nick: nick,
				},
				contentType: "application/json;charset=UTF-8",

				success: function (data) {
					console.log(data);

					// 중복
					if (data == '1') {
						$('#nick2').addClass('is-invalid');
					} else {
						$('#nick2').removeClass('is-invalid');
					}
				},

				error: function (e) {
					console.log(e);
				}
			});
		});

		function check2() {
			if ($('#nick2').hasClass('is-invalid') || $('#email2').hasClass('is-invalid') || $('#pwd_confirm2').hasClass('is-invalid')) {
				return false;
			} else {
				return true;
			}
		};
	</script>

</body>

</html>