<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<body class="h-100" layout:fragment="content">
	<div class="row d-flex flex-nowrap h-100">
		<div class="container my-5" style="width: 1000px;">
			<nav class="navbar navbar-expand-lg bg-light rounded">
				<div class="container-fluid">
					<h2>오픈 채팅</h2>
					<div class="collapse navbar-collapse">
						
					</div>
					<form th:if="${session.loginUser != null}" role="search">
						<input class="form-control roomSearch" type="search" placeholder="내용을 입력해주세요.">
					</form>
					<div th:if="${session.loginUser != null}" class="text-end">
						<input class="btn btn-primary rounded mx-2 searchBtn" type="submit" value="검색">
						<button th:if="${session.loginUser != null}" class="btn btn-primary rounded mx-4" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#roomCreate">채팅방 만들기</button>
					</div>
				</div>
			</nav>
			
			<div class="my-4">
				<h3 class="border-bottom py-2">채팅방 목록</h3>
				<div th:if="${session.loginUser != null}" class="bg-light p-5 rounded" style="overflow: scroll; height: 700px;">
					<div class="mx-auto" style="width: 85%;">
						<!-- 채팅방 목록 -->
						<div class="roomList list-group w-auto">
							<a th:if="${roomList != null}" th:each="room : ${roomList}" style="margin-bottom: 20px;" class="list-group-item list-group-item-action d-flex gap-3 py-3 chatRoom" th:id="'room'+${room.id}" aria-current="true" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#chatRoom">
								<div class="d-flex gap-2 w-100 justify-content-between">
									<div class="w-100">
										<div class="mb-0" th:id="'roomName'+${room.id}" style="float:left;">[[${room.name}]]</div>
									</div>
								</div>
								<div>
									<small class="opacity-50 text-nowrap" th:id="'roomDate'+${room.id}">[[${room.date}]]</small>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div th:if="not ${session.loginUser != null}">	
					로그인 해주세요.
				</div>
			</div>
		</div>
		
		
		
		<div class="flex-shrink-0 p-3 bg-white">
			<a href="#" th:if="${session.loginUser != null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img th:if="${session.loginUser.profile}" th:src="${session.loginUser?.profile}" width="32" height="32"
					class="rounded-circle">
				<img th:if="not ${session.loginUser.profile}" src="" width="32" height="32"
					class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" th:text="${session.loginUser?.nick}"></span>
			</a>
			<a href="#" th:if="${session.loginUser == null}"
				class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<img width="32" height="32" class="rounded-circle">
				<span class="fs-5 fw-semibold p-2" data-bs-toggle="modal" data-bs-target="#loginModal">로그인 해주세요.</span>
			</a>
			<ul class="list-unstyled ps-0">
				<li th:if="${session.loginUser != null}" class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
						계정
					</button>
					<div class="collapse" id="account-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded"
									data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#updateUserModal">
									내 정보 변경</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
						홈페이지
					</button>
					<div class="collapse" id="home-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/#network" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제
									- 네트워크</a></li>
							<li><a href="/#java" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자바</a></li>
							<li><a href="/#os" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									운영 체제</a></li>
							<li><a href="/#db" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									데이터베이스</a></li>
							<li><a href="/#api" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									API</a></li>
							<li><a href="/#security" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									웹 보안</a></li>
							<li><a href="/#pattern" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									패턴</a></li>
							<li><a href="/#docker" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									도커</a></li>
							<li><a href="/#cloud" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									클라우드</a></li>
							<li><a href="/#aws" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									AWS</a></li>
							<li><a href="/#springboot" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									Spring Boot</a></li>
							<li><a href="/#algorithm" class="link-dark d-inline-flex text-decoration-none rounded">오늘의 문제 -
									자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#know-collapse" aria-expanded="false">
						지식
					</button>
					<div class="collapse" id="know-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/know#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/know#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/know#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/know#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/know#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/know#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/know#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/know#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/know#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/know#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/know#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/know#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#short-collapse" aria-expanded="false">
						문제(단답형)
					</button>
					<div class="collapse" id="short-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/short#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/short#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/prob/short#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/prob/short#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/prob/short#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/prob/short#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/prob/short#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/prob/short#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/prob/short#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/prob/short#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/prob/short#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/prob/short#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#long-collapse" aria-expanded="false">
						문제(주관식)
					</button>
					<div class="collapse" id="long-collapse">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li><a href="/prob/long#network"
									class="link-dark d-inline-flex text-decoration-none rounded">네트워크</a></li>
							<li><a href="/prob/long#java"
									class="link-dark d-inline-flex text-decoration-none rounded">자바</a></li>
							<li><a href="/prob/long#os"
									class="link-dark d-inline-flex text-decoration-none rounded">운영 체제</a></li>
							<li><a href="/prob/long#db"
									class="link-dark d-inline-flex text-decoration-none rounded">데이터베이스</a></li>
							<li><a href="/prob/long#api"
									class="link-dark d-inline-flex text-decoration-none rounded">API</a></li>
							<li><a href="/prob/long#security"
									class="link-dark d-inline-flex text-decoration-none rounded">웹 보안</a></li>
							<li><a href="/prob/long#pattern"
									class="link-dark d-inline-flex text-decoration-none rounded">패턴</a></li>
							<li><a href="/prob/long#virtual"
									class="link-dark d-inline-flex text-decoration-none rounded">가상화</a></li>
							<li><a href="/prob/long#cloud"
									class="link-dark d-inline-flex text-decoration-none rounded">클라우드</a></li>
							<li><a href="/prob/long#aws"
									class="link-dark d-inline-flex text-decoration-none rounded">AWS</a></li>
							<li><a href="/prob/long#springboot"
									class="link-dark d-inline-flex text-decoration-none rounded">Spring Boot</a></li>
							<li><a href="/prob/long#algorithm"
									class="link-dark d-inline-flex text-decoration-none rounded">자료구조 및 알고리즘</a></li>
						</ul>
					</div>
				</li>
				<li class="mb-1">
					<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
						data-bs-toggle="collapse" data-bs-target="#user-collapse" aria-expanded="false">
						현재 접속중인 사람
					</button>
					<div class="collapse" id="user-collapse">
						<ul th:if="not ${userList != null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							접속 유저가 없습니다.
						</ul>
						<ul th:if="${userList != null}" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li th:each="user : ${userList}">
								<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">[[${user.nick}]]</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- 채팅방 팝업 -->
	<div class="modal fade" id="chatRoom" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5" style="width: 700px; right: 100px;">
				<div class="mx-2 my-2 roomModal">
					<button type="button" style="float: right;" class="btn btn-primary roomClose"
						data-bs-dismiss="modal" aria-label="Close">나가기</button>
				</div>
				<div class="mx-auto py-2">
					<h3 class="roomName">어서오세요</h3>
				</div>
				<div class="p-4 p-md-5 border rounded-3 bg-light chatList" style="overflow: scroll; height: 750px;"></div>
				<div th:if="${session.loginUser != null}" class="row">
					<div class="col-1">
						<img th:src="${session.loginUser?.profile}" width="32" height="32"
							class="rounded-circle">
					</div>
					<div class="col-9">
						<input class="w-100 form-control" id="msg" type="text"
							placeholder="채팅을 입력해주세요.">
					</div>
					<div class="col-2">
						<button type="submit" id="msgWrite" class="btn btn-primary">작성</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 채팅방 생성 팝업 -->
	<div class="modal fade" id="roomCreate" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5">
				<div>
					<button type="button" style="float: right; margin-right: 10px; margin-top: 10px;" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="mx-auto py-3">
					<h3>채팅방 만들기</h3>
				</div>
				<div class="p-4 p-md-5 border rounded-3 bg-light">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="roomName" placeholder="name" required autofocus>
						<label for="nick2">채팅방 제목</label>
					</div>
					<button type="submit" class="w-100 btn btn-lg btn-primary mt-4" onclick="roomCreate()">채팅방 만들기</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="updateUserModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content col-md-10 mx-auto col-lg-5">
				<div>
					<button type="button" style="float: right; margin-right: 10px; margin-top: 10px;" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="mx-auto py-3">
					<h3>정보 변경</h3>
				</div>
				<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST" th:action="@{/user/update}"
					th:object="${user}" enctype="multipart/form-data">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="nick2" name="nick" placeholder="name" autofocus>
						<label for="nick2">닉네임(중복 불가, 4글자 이상)</label>
						<div id="nickNotice2" class="invalid-feedback">
							닉네임이 중복됩니다.
						</div>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="pwd3" th:field="*{pwd}" placeholder="password"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd3">비밀번호(6자리 이상, 12자리 이하, 필수 X)</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" placeholder="password" id="pwd_confirm2"
							minlength="6" maxlength="12" aria-describedby="pwdNotice">
						<label for="pwd_confirm2">비밀번호 확인</label>
						<div id="pwdNotice2" class="feedback" style="height: 20px;">
							비밀번호를 입력해주세요.
						</div>
					</div>
					<hr class="my-4">
					<div>
						<label for="profile" class="my-3">프로필 사진 변경</label>
						<input type="file" class="form-control" id="file" name="file"
							accept="image/gif, image/jpeg, image/png, image/jpg" autofocus>
					</div>
					<div class="row">
						<button type="submit" class="w-50 btn btn-lg btn-primary mt-4" formaction="/deleteUser">회원 
						탈퇴</button>
						<button type="submit" class="w-50 btn btn-lg btn-primary mt-4" onclick="return check2()">정보
						변경</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>	




	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	
	<script th:inline="javascript">
		
		function deleteCheck() {
			 return confim("진짜로 회원 탈퇴하시겠습니까?");
		}
			
			$('.searchBtn').on("click", function() {
				var name = $('.roomSearch').val(); // 검색어
				console.log(name)
				$.ajax({
					type: 'get',
					url: '/chat/room/search',
					data: {
						name: name,
					},
					
					success: function(data) {
						if(data != null || data != '') {
							str = '';
							
							data.forEach((list) => {
								
								var date = new Date(list.date);
								date = new Date(date.getTime() + 9 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, -5); // 현재시간에서 9시간 추가해서 한국시간으로 바꾼 후 형식 변경
							
								str += '<a style="margin-bottom: 20px;" class="list-group-item list-group-item-action d-flex gap-3 py-3 chatRoom" id="room'+list.id+'" aria-current="true" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#chatRoom">'
								str += '		<div class="d-flex gap-2 w-100 justify-content-between">                                                                                                                                                                                                                           '
								str += '			<div class="w-100">                                                                                                                                                                                                                                                            '
								str += '				<div class="mb-0" id="roomName'+list.id+'" style="float:left;">'+list.name+'</div>                                                                                                                                                                                 '
								str += '			</div>                                                                                                                                                                                                                                                                         '
								str += '		</div>                                                                                                                                                                                                                                                                             '
								str += '		<small class="opacity-50 text-nowrap" th:id="roomDate'+list.id+'">'+date+'</small>                                                                                                                                                                                       '
								str += '	</a>                                                                                                                                                                                                                                                                                   '
							
							});
							
						} else {
							str += '채팅방이 없습니다.'
						}
						
						$('.roomList').html(str);
					},
					
					error: function(e) {
						console.log(e)
					}
				});
			})
			
			$(document).on("click", ".chatRoom", function() {
			
			var subscribe = '';
			
			var roomId = $(this).attr("id").replace("room", "");
			var roomName = $('#roomName'+roomId).html();
        	var loginNick = [[${session.loginUser?.nick}]];
        	var role = [[${session.loginUser?.role}]];
        	var profile = [[${session.loginUser?.profile}]];
        	
        	var master = ''; // 생성자

	        console.log(roomName + ", " + roomId + ", " + loginNick  );
	        $('.roomName').html(roomName);
	        
	        $.ajax({ // 채팅방 생성자 찾기
				type: 'post',
				url: '/chat/room/get',
				data: {
					id: roomId,
				},
				
				success: function(data) {
					master = data.master;
					
					if(loginNick == master || role == 'ROLE_ADMIN') { // 방 생성자이거나 관리자일 때
			        	var s = '<button class="btn btn-primary deleteRoom" id="roomDelete'+roomId+'">채팅방 삭제</button>'
			        	s += '<button type="button" style="float: right;" class="btn btn-primary roomClose" data-bs-dismiss="modal" aria-label="Close">나가기</button>'
						$('.roomModal').html(s);
					}
				},
				
				error: function(e) {
					console.log(e);
				}
			});
	        
			var sockJs = new SockJS("/ws/chat");
		    //1. SockJS를 내부에 들고있는 stomp를 내어줌
		    var stomp = Stomp.over(sockJs);
	        
	        //2. connection이 맺어지면 실행
	        stomp.connect({}, function (){
	            console.log("STOMP Connection")
	
	            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
	            subscribe = stomp.subscribe("/topic/chat/room/" + roomId, function (chat) { // 구독한 채팅방 -> 참여한 채팅방으로 메시지 전달 받음
	                var content = JSON.parse(chat.body);
	                var type = content.type;
	                var msg = content.msg;
	                var nick = content.nick;
	                var chatProfile = content.profile;
	                
	                console.log(type, msg, nick, chatProfile)
	                
					var baseStr = $('.chatList').html(); // 원래 채팅 내용
					str = ''; // 추가되는 메시지
					if(type === 'JOIN') {
						str += '<div class="col-10"></div>'
						str += '<div style="text-align: center;">"'+nick+'"님이 입장하셨습니다.</div>';
						str += '	</div>'  
					} else if (type === 'LEAVE') {
						str += '<div class="col-10"></div>'
						str += '<div style="text-align: center;">"'+nick+'"님이 퇴장하셨습니다.</div>';
						str += '	</div>'  
					} else if (type === 'FIRST') { // 첫 들어올 때 기존 메시지
						
						if(baseStr == '') { // 기존 메시지가 없을 때 -> 처음 들어오는 유저
							
							var nicks = nick.split('/')
							var msgs = msg.split('/')

							for(let i = 0; i < nicks.length; i++) {
								
								if(nicks[i] != loginNick) { // 작성자가 아닐 때
									str += '<div class="mb-3 px-1 rounded">'
									str += '<div class="">                                                                                                                              '
									str += '		<img src="'+ chatProfile +'" width="32" height="32"class="rounded-circle" style="margin-top: 20px; margin-right: 5px;">                                                                                                              '
									str += '	<label class="my-1" style="color: black; font-size: 14px;">'+nicks[i]+'</label>'
									str += '	</div>                                                                                                                                       '
									
									str += '<div style="position:relative; width:350px; height:50px; background: white; color: black; border-radius: 10px; margin-left: 50px;">'
									str += '    <label class="m-1">'+ msgs[i] +'</label>'
									str += '</div>'
									
									str += '</div>'   
									
								} else {
									
									str += '<div class="mb-3 px-1 rounded">'
									str += '<div class="">                                                                                                                              '
									str += '	    <label class="my-1" style="color: black;font-size: 14px;margin-left: 470px;">'+nicks[i]+'</label>'
									str += '		<img src="'+ chatProfile +'" width="32" height="32"class="rounded-circle" style="margin-top: 20px; margin-right: 5px;">                                                                                                              '
									str += '	</div>                                                                                                                                       '
									
									str += '<div style="position:relative;width:350px;height:50px;background:#FFFF99;color: black;border-radius: 10px;margin-left: 155px;">'
									str += '    <label class="m-1" style="">'+ msgs[i] +'</label>'
									str += '</div>'
									
									str += '</div>'
								}
							}
						}
						
					} else { // 입장 후 채팅

						if(baseStr != null) { // 현재 채팅방에 있으면
							
							if(nick != loginNick) { // 작성자가 아닐 때
								str += '<div class="mb-3 px-1 rounded">'
								str += '<div class="">                                                                                                                              '
								str += '		<img src="'+ chatProfile +'" width="32" height="32"class="rounded-circle" style="margin-top: 20px; margin-right: 5px;">                                                                                                              '
								str += '	<label class="my-1" style="color: black; font-size: 14px;">'+nick+'</label>'
								str += '	</div>                                                                                                                                       '
								
								str += '<div style="position:relative; width:350px; height:50px; background: white; color: black; border-radius: 10px; margin-left: 50px;">'
								str += '    <label class="m-1">'+ msg +'</label>'
								str += '</div>'
								
								str += '</div>'   
								
							} else {
								
								str += '<div class="mb-3 px-1 rounded">'
								str += '<div class="">                                                                                                                              '
								str += '	    <label class="my-1" style="color: black;font-size: 14px;margin-left: 470px;">'+nick+'</label>'
								str += '		<img src="'+ chatProfile +'" width="32" height="32"class="rounded-circle" style="margin-top: 20px; margin-right: 5px;">                                                                                                              '
								str += '	</div>                                                                                                                                       '
								
								str += '<div style="position:relative;width:350px;height:50px;background:#FFFF99;color: black;border-radius: 10px;margin-left: 155px;">'
								str += '    <label class="m-1" style="">'+ msg +'</label>'
								str += '</div>'
								
								str += '</div>'
							}
						}
						
					}
					
					str += '</div>                                                                                                                                   '
					
					$('.chatList').html(baseStr + str);
	            });
	
	            //3. send(path, header, message)로 메세지를 보낼 수 있음
	            stomp.send('/app/chat/join', {}, JSON.stringify({id: roomId, nick: loginNick, type: 'JOIN'}))
		        });
		        
		         //엔터를 누르면 메시지 전송
		        $("#msg").on("keyup",function(event){
		            if(event.keyCode === 13){
		                event.preventDefault();
	       	         	$('#msgWrite').click();
		            }
		        });
		        
		        $('#msgWrite').on("click", function(e) {
					var msg = $('#msg').val();
					
					if(msg != '') {
						stomp.send('/app/chat/message', {}, JSON.stringify({id: roomId, msg: msg, nick: loginNick, type: 'CHAT', profile: profile}))
					} 
		       		$("#msg").val(''); // 초기화
			   });
			   
			   $(document).on("click", ".roomClose", function(e) {
					
					stomp.send('/app/chat/leave', {}, JSON.stringify({id: roomId, nick: loginNick, type: 'LEAVE'}))
					subscribe.unsubscribe(); // 구독 끊기 -> 채팅방 나가기
					$('.chatList').html('');
					$("#msg").val(''); // 초기화
			   });
			});
			
		var msg = [[${msg}]];
		if (msg != null) {
			alert(msg);
		}
		
		var loginUser = [[${session.loginUser}]];
		console.log(loginUser);
		
		$('#pwd_confirm3').keyup(function () {
			var pwd = $('#pwd4').val();
			var pwd_confirm = $('#pwd_confirm3').val();
			
			if (pwd == pwd_confirm) {
				$('#pwd_confirm3').removeClass('is-invalid');
				$('#pwd_confirm3').addClass('is-valid');
				$('#pwdNotice3').html('비밀번호가 일치합니다.');	
			} else {
				$('#pwd_confirm3').removeClass('is-valid');
				$('#pwd_confirm3').addClass('is-invalid');
				$('#pwdNotice3').html('비밀번호가 일치하지 않습니다.');
			}
		});
		
		$(document).on("click", ".deleteRoom", function() { // 채팅방 삭제 -> 마스터만 가능
			var roomId = $(this).attr("id").replace("roomDelete", "");
			
			$.ajax({
				type: 'post',
				url: '/chat/room/delete',
				data: {
					id: roomId,
				},
				
				success: function(data) {},
				
				error: function(e) {
					console.log(e)
				}
			});
			
			$('#room'+roomId).remove(); // 현재 채팅방 삭제
			alert('채팅방 삭제가 완료되었습니다.')
			location.href="/chat/rooms";
		});
		
		function roomCreate() {
				var name = $('#roomName').val();
				
				$.ajax({
					type: 'post',
					url: '/chat/room/create',
					data: {
						name: name,
					},
					
					success: function(data) {
						var roomList = $('.roomList').html(); // 기존 채팅방 리스트 가져오기
						var date = new Date(data.date);
						date = new Date(date.getTime() + 9 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, -5); // 현재시간에서 9시간 추가해서 한국시간으로 바꾼 후 형식 변경
						
						str = '';
						
						str += '<a class="list-group-item list-group-item-action d-flex gap-3 py-3 chatRoom" style="margin-bottom: 20px;" id="room'+data.id+'" aria-current="true" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#chatRoom">                   '
						str += '	<div class="d-flex gap-2 w-100 justify-content-between">                                                                                                                '
						str += '		<div>                                                                                                                                                      '
						str += '			<h5 class="mb-0" style="float: left; id="roomName'+data.id+'">'+ data.name +'</h5>                                                                                                 '
						str += '		</div>                                                                                                                                                              '
						str += '		<small class="opacity-50 text-nowrap" id="roomDate'+data.id+'">'+ date +'</small>                                                                        '
						str += '	</div>                                                                                                                                                                  '
						str += '</a>  ' 
						
						$('.roomList').html(str + roomList); // 최신에 만들어지는게 먼저
						alert('채팅방 생성이 성공하였습니다.')
						location.href="/chat/rooms";
					},
					
					error: function(e) {
						console.log(e);
					}
				});
		}

		$('#pwd_confirm2').keyup(function () {
			var pwd = $('#pwd3').val();
			var pwd_confirm = $('#pwd_confirm2').val();

			if (pwd == pwd_confirm) {
				var email = loginUser.email;
				console.log(email);

				$.ajax({
					type: 'post',
					url: '/check/pwd',
					data: {
						email: email,
						pwd: pwd,
					},

					success: function (data) {
						console.log(data);

						// 중복
						if (data == '1') {
							$('#pwd_confirm2').removeClass('is-valid');
							$('#pwd_confirm2').addClass('is-invalid');
							$('#pwdNotice2').html('원래 비밀번호와 같습니다.');
						} else {
							$('#pwd_confirm2').removeClass('is-invalid');
							$('#pwd_confirm2').addClass('is-valid');
							$('#pwdNotice2').html('비밀번호가 일치합니다.');
						}
					},

					error: function (e) {
						console.log(e);
					}
				});
			} else {
				$('#pwd_confirm2').removeClass('is-valid');
				$('#pwd_confirm2').addClass('is-invalid');
				$('#pwdNotice2').html('비밀번호가 일치하지 않습니다.');
			}
		});

		$('#nick2').keyup(function () {
			var nick = $('#nick2').val();

			$.ajax({
				type: 'get',
				url: '/check/nick',
				data: {
					nick: nick,
				},
				contentType: "application/json;charset=UTF-8",

				success: function (data) {
					console.log(data);

					// 중복
					if (data == '1') {
						$('#nick2').addClass('is-invalid');
					} else {
						$('#nick2').removeClass('is-invalid');
					}
				},

				error: function (e) {
					console.log(e);
				}
			});
		});
		
		function check2() {
			if ($('#nick2').hasClass('is-invalid') || $('#email2').hasClass('is-invalid') || $('#pwd_confirm2').hasClass('is-invalid')) {
				return false;
			} else {
				return true;
			}
		};
	</script>
</body>

</html>