.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

.dropdown-item:hover {
	background-color: dodgerblue;
}

.flex-shrink-0 {
	width: 280px;
	position: fixed;
	margin-right: 50px;
	margin-top: 20px;
	right: 0;
}

.left-sidebar {
	width: 200px;
	margin-left: 50px;
	position: fixed
}

.knowThrow {
	transition: all ease 2s 0s;
}

table {
	border-collapse: collapse;
	margin: auto;
	width: 100%;
}

.probLong > table > th,td {
	text-align: center;
	border: 1px solid black;

	vertical-align: top;
	vertical-align: bottom;
	vertical-align: middle;
	font-size: 15px;
}

th,
td {
	text-align: center;
	border: 1px solid black;

	vertical-align: top;
	vertical-align: bottom;
	vertical-align: middle;
}

.repNick {
	font-size: 17px;
}

.repCont {
	font-size: 13px;
}

.repLike {
	font-size: 12px;
	padding-left: 10px;
	padding-top: 5px;
}

.repNestWrite {
	font-size: 15px;
}

.repDelete, .repUpdate {
	font-size: 15px;
	float: right;
}
