<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="py-3 my-4">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li>
			<a href="/know" class="nav-link px-4 link-secondary">
				지식
			</a>
		</li>
		<li>
			<a href="/prob/short" class="nav-link px-4 link-secondary">
				문제(단답형)
			</a>
		</li>
		<li>
			<a href="/prob/long" class="nav-link px-4 link-secondary">
				문제(주관식)
			</a>
		</li>
		<li>
			<a href="#" class="nav-link px-4 link-secondary">
				추가 예정
			</a>
		</li>
	</ul>
	<p class="text-center text-muted"><a href="/">Hoozy's CS</a></p>
</footer>

</html>